.banner {
  width: 100%;
  height: 100px;
  background-color: blue;
  color: #FFF;
  border: none;
}

.menu {
  width: 150px;
  height: calc(100% - 100px);
  float: left;
  border: none;
}

.frame {
  width: calc(100% - 150px);
  height: calc(100% - 120px);
  border: none;
}
